*.egg-info/
build/
dist/
.idea

__pycache__
.coverage
.pytest_cache
.vscode

python/bykcli/web/static
.obsidian
*/.vitepress/cache
node_modules
.DS_Store

dist
.output
docs/pnpm-lock.yaml
.nuxt

.workbuddy/
target
.pnpm-store/
.data
book
doc_build
website

byk-lansend